body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
  }
  
  main {
    background-color: #aaa69d;
    padding: 1em;
    margin-left: 130px;
    margin-right: 130px;
    overflow: hidden;
  }

  img {
    max-width: 100%;
  }
  
  nav > ul {
    list-style: none;
    /* De næste fire linjer placerer menuen i center */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    padding: 0;
  }

  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3em;
    max-width: 1200px;
    justify-self: center;
    font-size: 18px;
  }
.tobilleder {
  display:flex;
}

  @media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    max-width: 1200px;
    justify-self: center;
    padding-right: 20px;
  }
  
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 2em;
    max-width: 1200px;
    justify-self: center;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
    max-width: 1200px;
    justify-self: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2em;
    max-width: 1200px;
    justify-self: center;
    padding-top: 80px;

  }

  .col {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    max-width: 1200px;
    justify-self: center;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    max-width: 1200px;
    justify-self: center;
  }

  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3em;
    max-width: 1200px;
  }
}



