body {
  background-color: blue;
}

header,
footer {
  background-color: rgb(161, 242, 242);
  padding: 0 0 1em 1em;
  font-family: Arial, Verdana, Sans-Serif;
  overflow: hidden;
  font-size: 18px;
}

header {
  height: 130px;
}

footer {
  height: 100px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(163, 44, 23);
}


p {
  margin: 0;
  font-size: 20px;
  text-align: justify;
}

.img-order {
  padding-top: 28px;
} 

.img-dummy {
  width: 234px;
  height: 234px;
  padding-top: 25px;
}

.img-tab {
  width: 234px;
  height: 234px;
  padding-top: 30px;
}

.img-comp {
  width: 234px;
  height: 234px;
  padding-top: 25px;
}

.img-grafikkort {
  width: 297px;
  height: 197px;
  padding-top: 170px;
}

.img-vand {
  padding-top: 237px;
}

.img-motherboard_2 {
  padding-top: 45px;
}
figure {
  margin: 0;
}

.grid_1-1-1-1 {
  display: grid;
  /* grid-template: repeat(3, 200px) / repeat(4, 200px); */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  max-width: 1200px;
  /* box-sizing: border-box;
  overflow: hidden; */
}

.img-gal_2 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  /* justify-self: center; */
  box-sizing: border-box;
  overflow: hidden;
}
.img-gal_1 {
grid-column: 3;
  /* justify-self: center; */
  box-sizing: border-box;
  overflow: hidden;
}
.img-gal_3 {
  /* justify-self: center; */
  box-sizing: border-box;
  overflow: hidden;
}
.img-gal_4 {
  grid-column: 1 ;
  /* justify-self: center; */
  box-sizing: border-box;
  overflow: hidden;
}
.img-gal_5 {
  /* justify-self: center; */
  box-sizing: border-box;
  overflow: hidden;
}
.img-gal_6 {
  grid-column: 2 / span 2;
  /* justify-self: center; */
  box-sizing: border-box;
  overflow: hidden;
}

.col_1 {
  padding-top: 50px;
}
.col_2 {
  padding-top: 20px;
}
.one {
  width: 25%;
}

.two {
  width: 50%;
}

.search {
  padding-left: 10px;
}

.inp_1 {
  padding-left: 20px;
}

/* #one {
  padding-left: 20px;
} */

section {
  margin-bottom: 1em;
}

nav a {
  text-decoration: none;
}

a:link {
  color: rgb(111, 8, 15);
}
a:visited {
  color: rgb(111, 8, 15);
}
a:hover {
  color: rgb(30, 1, 174);
}
a:active {
  color: rgb(255, 254, 254);
}